@tailwind base;
@tailwind components;
@tailwind utilities;






@keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(2rem);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-fade-in-up {
    animation: fade-in-up 1.5s ease-out;
  }
  
  .animate-fade-in-right {
    animation: fade-in-right 2s ease-out;
  }
  @keyframes slide-in-right {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
